:root {
  background-color: #f4f4f4;
  font-family: 'DM Sans', sans-serif;
  font-size: 13px;
  color: #121312;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  color: goldenrod;
}

.h1-big {
  font-size: 32px;
  margin: 32px auto;
}

.h1-small {
  font-size: 14px;
  margin: 16px auto;
}

h2 {
  font-size: 16px;
  margin: 24px 0;
}

.main-list {
  margin: 0 auto;
  padding: 20px;
  width: 600px;
}

.main-empty {
  margin-left: 50%;
  margin-top: 40vh;
  padding: 20px;
  transform: translate(-50%, -50%);
  width: 600px;
}

input[type='text'] {
  border: 2px solid goldenrod;
  border-radius: 16px;
  font-family: monospace;
  padding: 24px 32px;
  text-align: center;
  width: 100%;
}

.signer {
  background-color: #ffffff;
  border: none;
  border-radius: 16px;
  cursor: pointer;
  overflow: hidden;
  margin-bottom: 16px;
}
.selected-signer {
  border: 1px solid goldenrod;
}

.main {
  background-color: #ffffff;
  border-radius: 8px 8px 0 0;
  padding: 24px 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tag {
  border-radius: 12px;
  color: #ffffff;
  padding: 10px;
  text-align: center;
  width: 140px;
}

.info {
  display: flex;
  padding: 24px 32px 24px 32px;
  justify-content: space-between;
  border-top: 1px solid #f4f4f4;
}

.line {
  --padding: 20px;
  --background-color: #f4f4f4;
  border-radius: 8px;
}

.bar-box {
  background-color: #f4f4f4;
  border-radius: 2px;
  margin: 8px 0;
  overflow: hidden;
  width: 130px;
}

.bar-value {
  height: 8px;
}
