:root {
  background-color: #f4f4f4;
  font-family: 'DM Sans', sans-serif;
  font-size: 13px;
  color: #121312;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  color: goldenrod;
  font-size: 32px;
  margin: 32px auto;
  text-align: center;
}

h2 {
  font-size: 16px;
  margin: 24px 0;
}

.main-list {
  margin: 0 auto;
  padding: 20px;
  width: 600px;
}

.main-empty {
  margin-left: 50%;
  margin-top: 40vh;
  padding: 20px;
  transform: translate(-50%, -50%);
  width: 600px;
}

input[type='text'] {
  border: 2px solid goldenrod;
  border-radius: 8px;
  font-family: monospace;
  padding: 32px;
  text-align: center;
  width: 100%;
}

pre {
  background-color: #ffffff;
  --border: 1px solid #dcdee0;
  border-radius: 8px;
  color: #636669;
  margin-bottom: 16px;
  padding: 32px;
  text-align: center;
}
