:root {
  background: #f4f4f4;
  font-family: 'DM Sans', sans-serif;
  font-size: 13px;
  color: #121312;
  box-sizing: border-box;
  max-width: 1300px;
  margin: 0 auto 50px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #121312;
}

li {
  list-style: none;
}

.button-box {
  --border: 1px solid red;
  padding-top: 0;
  padding-left: 32px;
  padding-bottom: 32px;
  display: flex;
  gap: 8px;
}

button {
  border: none;
  padding: 8px;
  border-radius: 8px;
  width: 80px;
  cursor: pointer;
}

svg {
  --border: 1px solid red;
  display: block;
}

h1 {
  color: goldenrod;
}

.h1-big {
  font-size: 48px;
  margin: 32px auto;
}

.h1-small {
  font-size: 20px;
  margin: 16px auto;
}

h2 {
  font-size: 16px;
  margin: 24px 0;
}

.main-list {
  --border: 1px solid red;
  padding: 20px 30px;
}

.main-empty {
  margin-left: 50%;
  margin-top: 40vh;
  padding: 20px;
  transform: translate(-50%, -50%);
  width: 600px;
}

input[type='text'] {
  border: 2px solid goldenrod;
  border-radius: 16px;
  font-family: monospace;
  padding: 28px 32px;
  text-align: center;
  width: 550px;
}

.signer-block {
  --border: 1px solid red;
  display: flex;
  gap: 16px;
  margin-bottom: 16px;
}

.signer {
  background-color: #ffffff;
  border-radius: 16px;
}

.main {
  border-radius: 16px;
  padding: 24px 32px;
  display: flex;
  align-items: center;
  min-width: 510px;
}

.dot {
  border-radius: 24px;
  color: #ffffff;
  padding: 10px;
  text-align: center;
  margin-right: 18px;
}

.info {
  display: flex;
  padding: 24px 32px 24px 32px;
  justify-content: space-between;
  border-top: 1px solid #f4f4f4;
}

.line {
  --padding: 20px;
  border-radius: 8px;
}

.bar-box {
  background-color: #e8e8e8;
  border-radius: 4px;
  margin: 8px 0;
  --overflow: hidden;
  width: 130px;
}

.bar-value {
  border-radius: 4px 0 0 4px;
  height: 8px;
}

.tags {
  padding: 32px;
  padding-top: 8px;
}

.tag {
  border: 1px solid green;
  border-radius: 16px;
  color: green;
  display: inline-block;
  padding: 8px 16px;
  margin-right: 16px;
  margin-top: 8px;
}

.signers-box {
  --border: 1px solid red;
  display: flex;
  flex-direction: column;
}

.chart-box {
  -border: 1px solid black;
  flex: auto;
}

.histogram {
  background: #ffffff;
  border-radius: 16px;
  min-width: 300px;
  width: 100%;
}

.empty-chart {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}

@media only screen and (max-width: 1000px) {
  input[type='text'] {
    width: 100%;
    margin: 0 auto;
  }

  .h1-big {
    font-size: 32px;
  }

  h2 {
    max-width: 720px;
    margin: 32px auto;
  }

  .main-list {
    max-width: 720px;
    margin: 0 auto;
  }

  .main-empty {
    transform: none;
    padding: 32px;
    margin: 100px auto;
    width: 100%;
    max-width: 720px;
  }

  .signers-box {
    display: block;
  }

  .signer {
    width: 100%;
    max-width: 720px;
    margin: 0 auto;
  }

  .signer-block {
    flex-direction: column;
    gap: 16px;
  }

  .content {
    display: block;
  }

  .histogram {
    max-width: 720px;
    margin: 0 auto;
  }
}
